@{
    ViewBag.Title = "Repuestos SISUR";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
       <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <!--   <li class="nav-item">
        <a class="nav-link active" href="#">
            Home
            <span class="visually-hidden">(current)</span>
        </a>
    </li>-->

                <li class="nav-item">
                    <a class="nav-link" href="#">Generar Pedido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Recibir Mercaderia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inventario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Traslados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ubicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Seguridad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mi Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a>
                </li>

            </ul>
           <!-- <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>-->
        </div>
    </div>
</nav>

<div class="jumbotron" style="background-image:url(../../Imagenes/logoSisur.PNG)" width="95%" height="300px" >
   <h1 style="text-decoration-color:darkgoldenrod">    </h1>
   <h1 style="text-decoration-color:darkgoldenrod">    </h1>
    <p class="lead"></p>
   
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Total de Repuetos</h2>
        <p>
            Contamos con un total de más de 10000 articulos para todo tipo de vehiculo, tanto genericos como originales, por lo que somos la mejor opcion para conseguir ese repuesto que tanto buscas
        </p>
    </div>
    <div class="col-md-3">
        <h2>Salidas Diarias</h2>
        <p>Aqui se muestran la cantidad de salidas de invetario que se ejecutan a diario</p>
    </div>
    <div class="col-md-3">
        <h2>Entradas Diarias</h2>
        <p>Aqui se muestran la cantidad de entradas de invetario que se ejecutan a diario</p>
    </div>
    <div class="col-md-3">
        <h2>Productos con Bajo Stock</h2>
        <p>Aqui se muestran los productos que hay que reponer en el inventario, sera un excel autogenerado</p>
    </div>
</div>